@import '~spectre.css/src/spectre';
@import '~spectre.css/src/spectre-icons';
@import '~spectre.css/src/spectre-exp';

.App {
    padding: 10px;

    .app-name {
        font-weight: bold;
    }

    .main {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}